

  
  .Title {
    color: #89CFFD ;
  }
  
  .button {
    background-color: #FF7F3F;
    color: #FFF4CF;
  }
  
  .button:hover {
    background-color: #FFCB42;
    transition: 0.7s;
  }
  
  .button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 2px white;
    transition: 0.7s;
  }
  